<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AndroidVersion</key>
	<string>2.2.0</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-p9-10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-p9-10</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>ForceUpdateKey</key>
	<string>003</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>AirSync.sdef</string>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://sameerasw.github.io/airsync-mac/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>sHwLY7+V1LUTP7lmY9FYK8FAZgn2zlUhYCEiDazyaMQ=</string>
	<key>TrialSecret</key>
	<string>$(TRIAL_SECRET)</string>
	<key>UpdateFeedURL</key>
	<string>https://sameerasw.github.io/airsync-mac/releases/latest</string>
</dict>
</plist>
